{% extends 'stockwatch/navbar.html' %}

{% block loading %}
	{% load crispy_forms_tags %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'stock/addticker.css' %}">
{% endblock %}

{% block first-item %} <a class="nav-link" href="/watchlist">Watchlist</a> {% endblock %}
{% block second-item %} <a class="nav-link" href="/add-ticker">Add Stock</a> {% endblock %}
{% block third-item %} <a class="nav-link" href="/accounts/logout">Logout</a> {% endblock %}

{% block body %}
	<div class="main-container">
		<h4> Add Stock </h4>
    	<form action="." method="post">
			{% csrf_token %}
			<div class="card">
  				<div class="card-body">
   					{{ form.ticker|as_crispy_field }}
					<div class="form-row">
		      			<div class="form-group col-md-6 mb-0">
		        			{{ form.time_series|as_crispy_field }}
		      			</div>
		      			<div class="form-group col-md-6 mb-0">
		        			{{ form.interval|as_crispy_field }}
	      			</div>
	    		</div>
				<button type="submit" class="btn btn-primary">Add Stock</button>
  				</div>
			</div>
		</form>
	</div>

{% endblock %}
