{% extends 'stockwatch/navbar.html' %}

{% block loading %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'stock/watchlist.css' %}">
{% endblock %}

{% block first-item %} <a class="nav-link" href="/watchlist">Watchlist</a> {% endblock %}
{% block second-item %} <a class="nav-link" href="/add-ticker">Add Stock</a> {% endblock %}
{% block third-item %} <a class="nav-link" href="/accounts/logout">Logout</a> {% endblock %}

{% block body %}
	<div class="main-container">
		<h4> {{ username }}'s Stock Watchlist </h4>
		{% for s in stock_name_and_prices %}
			<div class="card" style="width:auto;">
  				<div class="card-body">
  					<form method="POST">
        				{% csrf_token %}
        				<button type="submit" name="delete" class="close text-danger" aria-label="Close" value="{{ s.4 }}">
 						 	<span aria-hidden="true">&times;</span>
						</button>
    				</form>
    				<h5 class="card-title"> {{ s.0 }} </h5>
   					<h6 class="card-subtitle mb-2 text-muted"> {{ s.1 }} </h6>
   					<p>
   						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseGraph{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseGraph{{ forloop.counter0 }}">
    					Price Trends
  						</button>
  					</p>
  					<div class="collapse" id="collapseGraph{{ forloop.counter0 }}">
  						<div class="card card-body">
  							<canvas id="myChart{{ forloop.counter0 }}" width="600" height="400">
  							<script>

  								var options = {
  									type: 'line',
  									data: {
							    labels: {{ s.2|safe }},
							    datasets: [
										{
										label: "Open",
										data : [{% for i in s.3.open %}{{ i }},{% endfor %}],
										backgroundColor :'rgba(87,8,247,0.23)',
										borderColor : '#8b53fc',
										pointBackgroundColor:'#8b53fc',
										pointBorderColor : '#8b53fc'
										},
										{
										label: "High",
										data: [{% for i in s.3.high %}{{ i }},{% endfor %}],
										backgroundColor :'rgba(46,204,112,0.33)',
										borderColor : '#2ecc70',
										pointBackgroundColor:'#2ecc70',
										pointBorderColor : '#2ecc70'
										},
									]
							  	},
							  	options: {
							  	title: {
							            display: true,
							            text: 'Price Trends'
							        },
							  	scales: {
							    	yAxes: [{
							        ticks: {
												reverse: false
							        }
							      }]
							    }
							  }
							}

							var ctx = document.getElementById("myChart" + {{ forloop.counter0 }}).getContext('2d');
							new Chart(ctx, options);
							</script>
  						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		</div>

{% endblock %}

